body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.head{
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 2px white;
  
}


.unit-card {
    display: block;
    text-decoration: none;
    background: linear-gradient(135deg ,#061a32, #003b63);;
    padding: 25px;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    color: #222;
    transition: 0.3s;
}

.unit-card h2 {
    margin: 0 0 8px;
    color: white;
    font-size: 22px;
}

.unit-card h3 {
    margin: 5px 0;
    font-size: 20px;
    color: white;
}

.unit-card p {
    color: white;
    font-size: 15px;
    margin: 10px 0 20px;
}

.unit-card span {
    display: inline-block;
    background: #0066cc;
    color: white;
    padding: 10px 18px;
    border-radius: 8px;
    font-weight: bold;
}

.unit-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 45px;
    margin: 20px;
    border-radius: 18px;
    background: linear-gradient(135deg ,#061a32, #003b63);
    border: 1px solid #087fc1;
}

.header-text h1 {
    margin: 0;
    font-size: 42px;
    color: white;
    letter-spacing: 1px;
}

.header-text p {
    margin-top: 10px;
    font-size: 18px;
    color: #19bfff;
}

.login-btn {
    color: white;
    text-decoration: none;
    font-size: 17px;
}

.dna-image {
    width: 55px;
    height: 55px;
    object-fit: contain;
}
